---
layout: default
---

<div class="grid__item">
    <article itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting" id="post-5"
        class="element__frame post type-post status-publish format-standard has-post-thumbnail hentry">
        <header class="entry-header">
            <span class="posted-on">{{ page.date | localized_date: "%-d %b %Y", page.lang }}</span>
            {% if page.categories != empty %}
            <div>
            {% for category_name in page.categories %}
            {% assign category = category_name | get_category_by_name: page.lang %}
            <a href="{{ category.url }}" class="category-name" itemprop="articleSection">{{ category.title }}</a>
            {% endfor %}
            </div>
            {% endif %}
            <h2 class="entry__title" itemprop="headline">{{ page.title }}</h2>
        </header>
        <div class="entry-content" itemprop="articleBody">
            <div class="entry-thumbnail-single landscape" itemprop="image">
                <img src="/assets/media/{{ page.image }}" class="attachment-large size-large wp-post-image" alt=""
                    width="580" height="410">
            </div>

            {% assign translations = page.uuid | translations: page.lang %}
            {% if translations != empty %}
                <p class="entry__meta translations-box"><span class="lang-icon"></span> {{ 'Also available in' | localize: page.lang }}:
                    {% for translation in translations %}
                        <a href="{{ translation.url }}" class="box-shadow lang-code">{{ translation.lang }}</a>
                    {% endfor %}
                </p>
            {% endif %}

            {{ content }}

        </div>
        <div class="clear"></div>

    </article>
    <!-- <div class="brutalist_themes__related_posts">

        <h4 class="widget-title">You might also like</h4>

        <ul>
            <li itemscope="" itemtype="http://schema.org/blogPost">
                <a class="title" href="https://lamaquinadeturing.su/2020/05/01/cibernetica-al-servicio-del-comunismo/"
                    title="Cibernética – al servicio del comunismo">
                    <img src="index_fitxers/cybernetics-150x150.png"
                        class="attachment-thumbnail size-thumbnail wp-post-image"
                        alt="Cibernética – al servicio del comunismo" itemprop="image"
                        itemtype="http://schema.org/thumbnailUrl" width="150" height="150">
                    <h5 itemscope="" itemtype="http://schema.org/headline">Cibernética – al servicio del
                        comunismo</h5>
                </a>
            </li>
            <li itemscope="" itemtype="http://schema.org/blogPost">
                <a class="title"
                    href="https://lamaquinadeturing.su/2020/05/01/cuando-la-inteligencia-artificial-desplazo-la-cibernetica/"
                    title="Cuando la inteligencia artificial desplazó la cibernética">
                    <img src="index_fitxers/darthsmouth-1-150x150.jpg"
                        class="attachment-thumbnail size-thumbnail wp-post-image"
                        alt="Cuando la inteligencia artificial desplazó la cibernética" itemprop="image"
                        itemtype="http://schema.org/thumbnailUrl" width="150" height="150">
                    <h5 itemscope="" itemtype="http://schema.org/headline">Cuando la inteligencia artificial
                        desplazó la cibernética</h5>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div> -->
</div>

<div class="grid__item">

    {% include sidebar.html %}

</div>