{% include head.html %}

<body class="home blog eightbit-effect loading" itemscope="" itemtype="http://schema.org/WebPage">
    <div id="page">

        {% include header.html %}

        {% if layout.variant == 'collection' %}
        <section class="grid" itemscope="" itemtype="http://schema.org/Blog">

            {% if layout.show_title %}
            <header><h2 class="page-title">{{ page.title }}</h2></header>
            {% endif %}

            {{ content }}

            <div class="grid__item" style="grid-column-start: 1; grid-column-end: 2"></div>

        </section>
        {% else %}
        <section class="grid__single" itemscope="" itemtype="http://schema.org/BlogPost">

            {{ content }}

        </section>
        {% endif %}

        {% include footer.html %}
    </div>

    <a class="element__frame scroll-top" href="#scroll-top" title="scroll top" style="display: none;">
        <p class="bar__title">Top</p>
    </a>
</body>
</html>