{% if include.post_uuid != nil %}
    {% assign post = include.post_uuid | find_prefered_translation: page.lang %}
{% endif %}

<div class="grid__item">
    <article
        class="element__frame post type-post status-publish format-standard has-post-thumbnail hentry"
        itemprop="blogPost" itemscope="" itemtype="http://schema.org/blogPosting">
        <header class="entry-header"><span class="posted-on">{{ post.date | localized_date: "%-d %b %Y", page.lang }}</span>
            {% if post.lang != page.lang %}
                <p class="entry__meta translations-box"><span class="lang-icon"></span> {{ 'Only available in' | localize: page.lang }}:
                    <a href="{{ post.url }}" class="box-shadow lang-code">{{ post.lang }}</a>
                    {% assign translations = post.uuid | translations: post.lang %}
                    {% for translation in translations %}
                        <a href="{{ translation.url }}" class="box-shadow lang-code">{{ translation.lang }}</a>
                    {% endfor %}
                </p>
            {% endif %}
            <h3 class="entry__title" itemprop="headline"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </header>
        {% if post.image %}
        {% if post.image_caption %}
        {% assign image_alt = post.image_caption | markdownify | strip_html %}
        {% else %}
        {% assign image_alt = post.title %}
        {% endif %}
        <a href="{{ post.url }}" class="entry-thumbnail"><img {{ post.image | srcset:478,618 }} sizes="(max-width: 800px) 478px, (max-width: 1200px) 618px, 478px" alt="{{ image_alt }}"></a>
        {% endif %}

        <div class="clear"></div>

        <footer class="entry-meta homepage">
            <meta itemprop="mainEntityOfPage" content="Guia: Com descarregar un vídeo en streaming"><span
                itemprop="author publisher" itemscope="" itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="turing"><span itemprop="logo" itemscope=""
                    itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="">
                </span>


                <meta itemprop="url" content="https://lamaquinadeturing.su">
            </span>

            <p class="posted-on">Published on <a href="{{ post.url }}"><time class="entry-date published updated"
                        datetime="2021-08-24T17:28:13+00:00" itemprop="datePublished">{{ post.date | localized_date: "%-d %b %Y", page.lang }}</time></a></p>
        </footer>
    </article>
</div>