<header id="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
    <div id="branding-wrapper" class="element__frame">
        <a href="{{ site.url | append: '/' | append: page.lang }}" rel="home" itemscope="" itemtype="http://schema.org/Brand">
            <h1 class="site-title" itemprop="name">{{ site.title }}</h1>
        </a>
    </div>

    <nav class="element__frame">
        <!-- <p class="bar__title">Lang</p> -->

        <ul class="pull clear">
            <li class="menu-item"><span>{{ page.lang }}</span></li>
            {% for lang in site.languages %}
                {% if lang != page.lang %}
                    <li class="menu-item"><a href="{{ site.url | append: '/' | append: lang }}">{{ lang }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <nav itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="element__frame" id="mobile-window">
        <p class="bar__title mobile-media">{{ 'Menu' | localize: page.lang }}</p>

        <a id="nav-toggle" class="nav-slide-button" href="#"><span></span></a>

        <ul id="primary-menu" class="pull clear">
            <li class="menu-item mobile-media"><span>{{ page.lang }}</span></li>
            {% for lang in site.languages %}
                {% if lang != page.lang %}
                    <li class="menu-item mobile-media"><a href="{{ site.url | append: '/' | append: lang }}">{{ lang }}</a></li>
                {% endif %}
            {% endfor %}

            <li>
                <div class="search-form">
                    <label>
                        <span class="screen-reader-text">{{ 'Search for' | localize: page.lang }}:</span>
                        <input type="search" class="search-field" placeholder="{{ 'Search' | localize: page.lang }}…" name="q">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </div>
            </li>

            {% for category_group_pair in site.data.categories %}
                {% assign categories = category_group_pair[1] | where: 'lang', page.lang %}
                {% for category in categories %}
                <li class="menu-item desktop-media"><a href="{{ category.url }}">{{ category.title }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>

        <ul class="search-results hidden"></ul>
    </nav>

    {% if site.mastodon_username %}
    <ul class="social-media-profiles element__frame">
        <li>
            <p class="bar__title">
                {{ 'Social' | localize: page.lang }} </p>
        </li>
        {% if site.mastodon_username %}
            {% assign parts = site.mastodon_username | split: "@" %}
            {% assign user = parts[1] %}
            {% assign instance = parts[2] %}
        <li><a href="https://{{ instance }}/@{{ user }}"><img src="/assets/img/mastodon.svg" width="12" height="12"></a></li>
        {% endif %}
    </ul>
    {% endif %}
</header>
<div class="clear"></div>