<header id="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
    <div id="branding-wrapper" class="element__frame">
        <a href="{{ lang | absolute_path }}" rel="home" itemscope="" itemtype="http://schema.org/Brand">
            <h1 class="site-title" itemprop="name">{{ site.title }}</h1>
        </a>
    </div>

    <nav class="element__frame desktop-media">
        <!-- <p class="bar__title">Lang</p> -->

        <ul class="pull clear">
            <li class="menu-item"><span>{{ lang }}</span></li>
            {% for language in site.languages %}
                {% if language != lang %}
                    <li class="menu-item"><a href="{{ language | absolute_path }}">{{ language }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <nav itemscope="" itemtype="http://schema.org/SiteNavigationElement" class="element__frame" id="mobile-window">
        <p class="bar__title mobile-media">{{ 'Menu' | localize: lang }}</p>

        <a id="nav-toggle" class="nav-slide-button" href="#"><span></span></a>

        <ul id="primary-menu" class="pull clear">
            <li class="menu-item mobile-media"><span>{{ lang }}</span></li>
            {% for lang in site.languages %}
                {% if lang != lang %}
                    <li class="menu-item mobile-media"><a href="{{ lang | absolute_path }}">{{ lang }}</a></li>
                {% endif %}
            {% endfor %}

            <li>
                <div class="search-form">
                    <label>
                        <span class="screen-reader-text">{{ 'Search for' | localize: lang }}:</span>
                        <input type="search" class="search-field" placeholder="{{ 'Search' | localize: lang }}…" name="q">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </div>
            </li>

            {% assign categories_by_lang = collections.categories | filter_collection_by_lang: lang %}
            {% for category in categories_by_lang %}
            <li class="menu-item desktop-media"><a href="{{ category.url | absolute_path }}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>

        <ul class="search-results hidden"></ul>
    </nav>

    {% if site.social %}
    <ul class="social-media-profiles element__frame">
        <li>
            <p class="bar__title">
                {{ 'Social' | localize: lang }} </p>
        </li>
        {% if site.social.mastodon_username %}
            {% assign parts = site.social.mastodon_username | split: "@" %}
            {% assign user = parts[1] %}
            {% assign instance = parts[2] %}
        <li><a href="https://{{ instance }}/@{{ user }}"><img src="/assets/img/mastodon.svg" width="12" height="12"></a></li>
        {% endif %}
        {% if site.social.github_link %}
        <li><a href="{{ site.social.github_link }}"><img src="/assets/img/github.svg" width="12" height="12"></a></li>
        {% endif %}
    </ul>
    {% endif %}
</header>
<div class="clear"></div>