<aside class="widget-area" itemscope="" itemtype="http://schema.org/WPSideBar">
    <div id="recent-posts-2" class="widget element__frame widget_recent_entries">
        <h3 class="widget-title">{{ 'Recent Posts' | localize: page.lang }}</h3>
        <ul>
            {% for post_uuid in site.data.localized_posts limit:5 %}
                {% assign post = post_uuid | find_prefered_translation: page.lang %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                {% if post.lang != page.lang %}
                    <a href="{{ post.url }}" class="box-shadow lang-code">{{ post.lang }}</a>
                    {% assign translations = post.uuid | translations: post.lang %}
                    {% for translation in translations %}
                        <a href="{{ translation.url }}" class="box-shadow lang-code">{{ translation.lang }}</a>
                    {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- <div id="archives-2" class="widget element__frame widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
            <li><a href="https://lamaquinadeturing.su/2021/08/">August 2021</a></li>
            <li><a href="https://lamaquinadeturing.su/2020/05/">May 2020</a></li>
            <li><a href="https://lamaquinadeturing.su/2020/04/">April 2020</a></li>
        </ul>
    </div> -->
    <div class="widget element__frame widget_categories">
        <h3 class="widget-title">{{ 'Categories' | localize: page.lang }}</h3>
        <ul>
            {% for category_group_pair in site.data.categories %}
            {% assign categories = category_group_pair[1] | where: 'lang', page.lang %}
            {% for category in categories %}
            <li class="cat-item cat-item-2"><a href="{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</aside>