.toc {
    margin: 0;
}

.toc-back-link {
    color: var(--color-indifferent);
}

.toc-back-link:hover {
    color: var(--color-accent);
}

/* Touch screen device */
@media (hover: none) {
    .toc-back-link {
        display: none;
    }
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc ul > li {
    font-size: 100%;
    margin-left: 0.5em;
}

.toc ul > li > ul > li {
    font-size: 90%;
    margin-left: 1em;
}

.toc ul > li > ul > li > ul > li {
    font-size: 80%;
    margin-left: 1.5em;
}

.toc ul > li > ul > li > ul > li > ul > li {
    font-size: 70%;
    margin-left: 2em;
}

.toc ul > li > ul > li > ul > li > ul > li > ul > li {
    font-size: 60%;
    margin-left: 2.5em;
}
