.toc {
    margin: 0;
}

.toc-back-link {
    color: var(--color-indifferent);
    transition: none;
}

.toc-back-link:hover {
    color: var(--color-accent);
}

/* Touch screen device */
@media (hover: none) {
    .toc-back-link {
        display: none;
    }
}

.toc a {
    transition: none;
}

.toc-h1 {
    font-size: 1.2em;
}

.toc-h2 {
    font-size: 1.1em;
    margin-left: 0.5em;
}

.toc-h3 {
    font-size: 1em;
    margin-left: 1em;
}

.toc-h4 {
    font-size: 0.9em;
    margin-left: 1.5em;
}

.toc-h5 {
    font-size: 0.8em;
    margin-left: 2em;
}

.toc-h6 {
    font-size: 0.7em;
    margin-left: 2.5em;
}
